.demo{
    height: 200px;
    background-color: red;
}
.row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
.column{
    border: 1px solid rgb(20, 170, 224);
}
/* @media(min-width: 667px ) {
    .demo{
        background-color: blue;
    }
}
@media(min-width: 1200px ) {
    .demo{
        background-color: rgb(0, 255, 208);
    }
} */

/* màn hình điện thoại quay dọc */
@media(min-width: 576px){
    .demo{
        background-color: brown;
    }
}
/* màn hình mobile quay ngang và tablet cỡ nhỏ */
@media(min-width: 768px){
    .demo{
        background-color: brown;
    }
    .row{
        grid-template-columns: 1fr 1fr;
    }
}
/* màn hình tablet quay ngang và máy tính cỡ nhỏ */
@media(min-width: 1024px){
    .demo{
        background-color: brown;
    }
    .row{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .demo {
      background: red;
    }
  }